.canvas {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.isAdding {
  cursor: crosshair;
}

.creation {
  opacity: 40%;
}

rect.isSelected,
ellipse.isSelected,
text.isSelected {
  outline: 2px dashed lightblue;
  outline-offset: 2px;
}

rect.isHovering,
ellipse.isHovering,
text.isHovering {
  outline: 2px dashed rgba(173, 216, 230, 0.5);
  outline-offset: 2px;
}

.textContainer {
  width: 100%;
  height: 100%;
}

.textInput {
  background-color: transparent;
  border: none;
  color: black !important;
  font-size: 14px;
  font-family: "Kalam";
  width: 100%;
  height: 100%;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* white-space: pre; Needed in order to get the newlines to appear */
}

rect.multiSelect {
  stroke: rgba(173, 216, 230, 0.8);
  stroke-width: 2px;
  fill: rgba(173, 216, 230, 0.4);
}
