.canvas {
  height: 1000px;
  width: 2000px;
  position: absolute;
  top: 0;
  left: 0;
}

.isAdding {
  cursor: crosshair;
}

.creation {
  opacity: 40%;
}

rect.isSelected,
ellipse.isSelected,
text.isSelected {
  outline: 2px dashed lightblue;
}

polyline.isSelected {
  outline: 2px dashed lightblue;
}

.isHovering {
  outline: 1px dashed rgba(173, 216, 230, 0.7);
}
