.canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.isAdding {
  cursor: crosshair;
}

.creation {
  opacity: 40%;
}

rect.isSelected,
ellipse.isSelected,
text.isSelected {
  outline: 2px dashed lightblue;
}

polyline.isSelected {
  outline: 2px dashed lightblue;
}

.isHovering {
  outline: 1px dashed rgba(173, 216, 230, 0.7);
}

.textContainer {
  width: 100%;
  height: 100%;
}

.textInput {
  background-color: transparent;
  border: none;
  color: #fff !important;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
